@{
    ViewData["Title"] = "Coolers";
}
@model IEnumerable<DTOS.CoolerDTOs.CoolerDTO>


@await Html.PartialAsync("_navmenu")
<section>
    <div class="container theme-showcase main-container" role="main">
        <div class="row"><div class="col-lg-15 col-md-15 col-sm-20 col-xs-60">
                    <div id="column-left">
                        <div class="col-filter">
                            <form href="?" id="catalog-filter-form">
                                <div class="col-filter-div-header header-filter">
                                    <a class="header-filterr" id="collapseExamplee"  role="button">Фильтр</a>
                                </div>
                                <div class="" id="">
                                    <div class="filter-hidden">
                                                                                                                                <div class="col-filter-div">
                                                <div class="header-sub-filter" style="padding: 0">Бренды</div>
                                                                                                    <div class="checkbox checkbox-success">
                                                        <input class="styled brands-checkbox"
                                                               id="brands-checkbox-0" type="checkbox"
                                                               value="be-quiet"
                                                               >
                                                        <label for="brands-checkbox-0">be quiet!</label>
                                                    </div>
                                                                                                    <div class="checkbox checkbox-success">
                                                        <input class="styled brands-checkbox"
                                                               id="brands-checkbox-1" type="checkbox"
                                                               value="brand-cooler-master"
                                                               >
                                                        <label for="brands-checkbox-1">Cooler Master</label>
                                                    </div>
                                                                                                    <div class="checkbox checkbox-success">
                                                        <input class="styled brands-checkbox"
                                                               id="brands-checkbox-2" type="checkbox"
                                                               value="brand-corsair"
                                                               >
                                                        <label for="brands-checkbox-2">Corsair</label>
                                                    </div>
                                                                                                    <div class="checkbox checkbox-success">
                                                        <input class="styled brands-checkbox"
                                                               id="brands-checkbox-3" type="checkbox"
                                                               value="brand-deepcool"
                                                               >
                                                        <label for="brands-checkbox-3">DeepCool</label>
                                                    </div>
                                                                                                    <div class="checkbox checkbox-success">
                                                        <input class="styled brands-checkbox"
                                                               id="brands-checkbox-4" type="checkbox"
                                                               value="brand-gamemax"
                                                               >
                                                        <label for="brands-checkbox-4">GameMax</label>
                                                    </div>
                                                                                                    <div class="checkbox checkbox-success">
                                                        <input class="styled brands-checkbox"
                                                               id="brands-checkbox-5" type="checkbox"
                                                               value="id-cooling"
                                                               >
                                                        <label for="brands-checkbox-5">Id-cooling</label>
                                                    </div>
                                                                                                    <div class="checkbox checkbox-success">
                                                        <input class="styled brands-checkbox"
                                                               id="brands-checkbox-6" type="checkbox"
                                                               value="brand-lian-li"
                                                               >
                                                        <label for="brands-checkbox-6">Lian Li</label>
                                                    </div>
                                                                                                    <div class="checkbox checkbox-success">
                                                        <input class="styled brands-checkbox"
                                                               id="brands-checkbox-7" type="checkbox"
                                                               value="brand-nzxt"
                                                               >
                                                        <label for="brands-checkbox-7">Nzxt</label>
                                                    </div>
                                                                                                    <div class="checkbox checkbox-success">
                                                        <input class="styled brands-checkbox"
                                                               id="brands-checkbox-8" type="checkbox"
                                                               value="rog"
                                                               >
                                                        <label for="brands-checkbox-8">Rog</label>
                                                    </div>
                                                                                                    <div class="checkbox checkbox-success">
                                                        <input class="styled brands-checkbox"
                                                               id="brands-checkbox-9" type="checkbox"
                                                               value="brand-zalman"
                                                               >
                                                        <label for="brands-checkbox-9">Zalman</label>
                                                    </div>
                                                                                                <input type="hidden" name="brands" id="brands-hidden-input">
                                            </div>
                                        
                                        <div id="slider-non-linear-step" style="
    width: 80%;
    margin-left: 30px;
"></div>
<div id="slider-non-linear-step-value"></div>

<input type="hidden" id="min" name="price-min"/>
<input type="hidden" id="max" name="price-max"/>
<script>
    var slider = document.getElementById('slider-non-linear-step');
    
    noUiSlider.create(slider, {
        start: [parseInt('128000') - 100000,
            parseInt('4463000') + 100000],
        connect: true,
        range: {
            'min': parseInt('128000') -1,
            'max': parseInt('4463000') + 100000
        }
    });
    var nonLinearStepSliderValueElement = document.getElementById('slider-non-linear-step-value');

    slider.noUiSlider.on('update', function (values) {
        // console.log(values);
        values[0] = number_format(Math.round(values[0]), 0, '.', ' ')
        values[1] = number_format(Math.round(values[1]), 0, '.', ' ')
        // console.log(values)''

        nonLinearStepSliderValueElement.innerHTML = values.join(' - ');
        let u = nonLinearStepSliderValueElement.innerHTML;
        u = u.split('-');
        $('#min').val(u[0].replace(/\s/g, ''))
        $('#max').val(u[1].replace(/\s/g, ''))
    });
    function number_format(number, decimals, dec_point, thousands_point) {

        if (number == null || !isFinite(number)) {
            throw new TypeError("number is not valid");
        }

        if (!decimals) {
            var len = number.toString().split('.').length;
            decimals = len > 1 ? len : 0;
        }

        if (!dec_point) {
            dec_point = '.';
        }

        if (!thousands_point) {
            thousands_point = ',';
        }

        number = parseFloat(number).toFixed(decimals);

        number = number.replace(".", dec_point);

        var splitNum = number.split(dec_point);
        splitNum[0] = splitNum[0].replace(/\B(?=(\d{3})+(?!\d))/g, thousands_point);
        number = splitNum.join(dec_point);

        return number;
    }
</script>

                                                                                                                                <div id="catalog-characteristics">
                                                                                                                                                                                                                                                                    <div class="header-sub-filter">Рассеиваемая мощность (TDP)</div>
                                                        <div class="col-filter-div">
                                                            <select class="characteristics-0"
                                                                    id="characteristics-0">
                                                                <option value="">Выберите из списка</option>
                                                                                                                                                                                                            <option value="100W"
                                                                                >100W</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="130W"
                                                                                >130W</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="150W"
                                                                                >150W</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <option value="180W"
                                                                                >180W</option>
                                                                                                                                                                                                                                                                                <option value="190W"
                                                                                >190W</option>
                                                                                                                                                                                                                                                                                <option value="200W"
                                                                                >200W</option>
                                                                                                                                                                                                                                                                                <option value="220W"
                                                                                >220W</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="240W"
                                                                                >240W</option>
                                                                                                                                                                                                                                                                                <option value="250W"
                                                                                >250W</option>
                                                                                                                                                                                                                                                                                <option value="260W"
                                                                                >260W</option>
                                                                                                                                                                                                                                                                                <option value="280W"
                                                                                >280W</option>
                                                                                                                                                                                                                                                                                <option value="300W"
                                                                                >300W</option>
                                                                                                                                                                                                                                                                                <option value="340W"
                                                                                >340W</option>
                                                                                                                                                                                                                                                                                <option value="400W"
                                                                                >400W</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                        </select>
                                                        </div>
                                                        <input type="hidden"
                                                               name="characteristics[147]"
                                                               id="characteristics-0-hidden-input">
                                                                                                                                                                                                                                                                                                                                <div class="header-sub-filter">Тип кулера</div>
                                                        <div class="col-filter-div">
                                                            <select class="characteristics-1"
                                                                    id="characteristics-1">
                                                                <option value="">Выберите из списка</option>
                                                                                                                                                                                                            <option value="Башенный"
                                                                                >Башенный</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Корпусный"
                                                                                >Корпусный</option>
                                                                                                                                                                                                                                                                                <option value="СВО"
                                                                                >СВО</option>
                                                                                                                                                                                                </select>
                                                        </div>
                                                        <input type="hidden"
                                                               name="characteristics[145]"
                                                               id="characteristics-1-hidden-input">
                                                                                                                                                                                                                                                                                                                                <div class="header-sub-filter">Скорость вращения</div>
                                                        <div class="col-filter-div">
                                                            <select class="characteristics-2"
                                                                    id="characteristics-2">
                                                                <option value="">Выберите из списка</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="1100 RPM"
                                                                                >1100 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <option value="1500 RPM"
                                                                                >1500 RPM</option>
                                                                                                                                                                                                                                                                                <option value="1600 RPM"
                                                                                >1600 RPM</option>
                                                                                                                                                                                                                                                                                <option value="1900 RPM"
                                                                                >1900 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="200 - 2000 RPM"
                                                                                >200 - 2000 RPM</option>
                                                                                                                                                                                                                                                                                <option value="2100 RPM"
                                                                                >2100 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <option value="300 - 1400 RPM"
                                                                                >300 - 1400 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="400 - 1400 RPM±10%"
                                                                                >400 - 1400 RPM±10%</option>
                                                                                                                                                                                                                                                                                <option value="500 - 1200 RPM"
                                                                                >500 - 1200 RPM</option>
                                                                                                                                                                                                                                                                                <option value="500 - 1500 RPM"
                                                                                >500 - 1500 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <option value="500 - 2000 RPM"
                                                                                >500 - 2000 RPM</option>
                                                                                                                                                                                                                                                                                <option value="500 - 2000 RPM±10%"
                                                                                >500 - 2000 RPM±10%</option>
                                                                                                                                                                                                                                                                                <option value="500 - 2250 RPM"
                                                                                >500 - 2250 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="600 - 1600 RPM"
                                                                                >600 - 1600 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="600 - 1800 RPM"
                                                                                >600 - 1800 RPM</option>
                                                                                                                                                                                                                                                                                <option value="600 - 2200 RPM"
                                                                                >600 - 2200 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="700 - 1500 RPM"
                                                                                >700 - 1500 RPM</option>
                                                                                                                                                                                                                                                                                <option value="700 - 1800 RPM"
                                                                                >700 - 1800 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="800 - 1500 RPM"
                                                                                >800 - 1500 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <option value="800 - 1900 RPM"
                                                                                >800 - 1900 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Вентиляторов: 2000 RPM"
                                                                                >Вентиляторов: 2000 RPM</option>
                                                                                                                                                                                                                                                                                <option value="Вентиляторов: 2400 RPM"
                                                                                >Вентиляторов: 2400 RPM</option>
                                                                                                                                                                                                                                                                                <option value="Вентиляторов: 300 - 1850 RPM±10%"
                                                                                >Вентиляторов: 300 - 1850 RPM±10%</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Вентиляторов: 400 - 2400 RPM"
                                                                                >Вентиляторов: 400 - 2400 RPM</option>
                                                                                                                                                                                                                                                                                <option value="Вентиляторов: 500 - 1350 RPM±10%"
                                                                                >Вентиляторов: 500 - 1350 RPM±10%</option>
                                                                                                                                                                                                                                                                                <option value="Вентиляторов: 500 - 1550 RPM±10%"
                                                                                >Вентиляторов: 500 - 1550 RPM±10%</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Вентиляторов: 500 - 1800 RPM±10%"
                                                                                >Вентиляторов: 500 - 1800 RPM±10%</option>
                                                                                                                                                                                                                                                                                <option value="Вентиляторов: 500 - 1850 RPM±10%"
                                                                                >Вентиляторов: 500 - 1850 RPM±10%</option>
                                                                                                                                                                                                                                                                                <option value="Вентиляторов: 500 - 3050 RPM±10%"
                                                                                >Вентиляторов: 500 - 3050 RPM±10%</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <option value="Вентиляторов: 800 - 1900 RPM"
                                                                                >Вентиляторов: 800 - 1900 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <option value="Вентиляторов: 800 - 2500 RPM±10%"
                                                                                >Вентиляторов: 800 - 2500 RPM±10%</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Помпы:  1000 - 2100 RPM, Вентиляторов: 800 - 2000 RPM"
                                                                                >Помпы:  1000 - 2100 RPM, Вентиляторов: 800 - 2000 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Помпы: 2100 RPM, Вентиляторов: 900 - 2000 RPM"
                                                                                >Помпы: 2100 RPM, Вентиляторов: 900 - 2000 RPM</option>
                                                                                                                                                                                                                                                                                <option value="Помпы: 2400 RPM±10%, Вентиляторов: 500 - 1800 RPM±10%"
                                                                                >Помпы: 2400 RPM±10%, Вентиляторов: 500 - 1800 RPM±10%</option>
                                                                                                                                                                                                                                                                                <option value="Помпы: 2400 RPM±10%, Вентиляторов: 500 - 2250 RPM±10%"
                                                                                >Помпы: 2400 RPM±10%, Вентиляторов: 500 - 2250 RPM±10%</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Помпы: 2550 RPM±10%, Вентиляторов: 500 - 1800 RPM±10%"
                                                                                >Помпы: 2550 RPM±10%, Вентиляторов: 500 - 1800 RPM±10%</option>
                                                                                                                                                                                                                                                                                <option value="Помпы: 2550 RPM±10%, Вентиляторов: 500 - 2250 RPM±10%"
                                                                                >Помпы: 2550 RPM±10%, Вентиляторов: 500 - 2250 RPM±10%</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <option value="Помпы: 3100 RPM±10%, Вентиляторов: 500 - 2250 RPM±10%"
                                                                                >Помпы: 3100 RPM±10%, Вентиляторов: 500 - 2250 RPM±10%</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <option value="Помпы: 4800 RPM±10%, Вентиляторов: 450 - 2000 RPM±10%"
                                                                                >Помпы: 4800 RPM±10%, Вентиляторов: 450 - 2000 RPM±10%</option>
                                                                                                                                                                                                                                                                                <option value="Помпы: 500 - 1600 RPM, Вентиляторов: 3200 RPM"
                                                                                >Помпы: 500 - 1600 RPM, Вентиляторов: 3200 RPM</option>
                                                                                                                                                                                                                                                                                <option value="Помпы: 500 - 1800 RPM, Вентиляторов: 3200 RPM"
                                                                                >Помпы: 500 - 1800 RPM, Вентиляторов: 3200 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Помпы: 5500 RPM, Вентиляторов: 2000 RPM"
                                                                                >Помпы: 5500 RPM, Вентиляторов: 2000 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Помпы: 800 - 2800 RPM, Вентиляторов: 500 - 1500 RPM"
                                                                                >Помпы: 800 - 2800 RPM, Вентиляторов: 500 - 1500 RPM</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                        </select>
                                                        </div>
                                                        <input type="hidden"
                                                               name="characteristics[151]"
                                                               id="characteristics-2-hidden-input">
                                                                                                                                                                                                                                                                                                                                <div class="header-sub-filter">Тип подшипника</div>
                                                        <div class="col-filter-div">
                                                            <select class="characteristics-3"
                                                                    id="characteristics-3">
                                                                <option value="">Выберите из списка</option>
                                                                                                                                                                                                            <option value="2-шариковый подшипник"
                                                                                >2-шариковый подшипник</option>
                                                                                                                                                                                                                                                                                <option value="Rifle"
                                                                                >Rifle</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Гидравлический динамический подшипник"
                                                                                >Гидравлический динамический подшипник</option>
                                                                                                                                                                                                                                                                                <option value="Гидравлический динамический подшипник (FDB)"
                                                                                >Гидравлический динамический подшипник (FDB)</option>
                                                                                                                                                                                                                                                                                <option value="Гидравлический подшипник"
                                                                                >Гидравлический подшипник</option>
                                                                                                                                                                                                                                                                                <option value="Гидродинамический подшипник"
                                                                                >Гидродинамический подшипник</option>
                                                                                                                                                                                                                                                                                <option value="Гидродинамический подшипник (FDB)"
                                                                                >Гидродинамический подшипник (FDB)</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="Гидроподшипник"
                                                                                >Гидроподшипник</option>
                                                                                                                                                                                                                                                                                <option value="Запатентованный гидродинамический подшипник"
                                                                                >Запатентованный гидродинамический подшипник</option>
                                                                                                                                                                                                                                                                                <option value="Керамический"
                                                                                >Керамический</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <option value="Подшипник скольжения"
                                                                                >Подшипник скольжения</option>
                                                                                                                                                                                                                                                                                                                                                                                                                    <option value="С магнитной левитацией"
                                                                                >С магнитной левитацией</option>
                                                                                                                                                                                                                                                                                <option value="Усовершенствованный подшипник за счет элемента качения (EBR)"
                                                                                >Усовершенствованный подшипник за счет элемента качения (EBR)</option>
                                                                                                                                                                                                </select>
                                                        </div>
                                                        <input type="hidden"
                                                               name="characteristics[150]"
                                                               id="characteristics-3-hidden-input">
                                                                                                                                                                                                                                                                                                                                <div class="header-sub-filter">Размеры комплектных вентиляторов</div>
                                                        <div class="col-filter-div">
                                                            <select class="characteristics-4"
                                                                    id="characteristics-4">
                                                                <option value="">Выберите из списка</option>
                                                                                                                                                                                                            <option value="120 x 120 x 25 мм"
                                                                                >120 x 120 x 25 мм</option>
                                                                                                                                                                                                                                                                                <option value="120 х 120 х 25 мм"
                                                                                >120 х 120 х 25 мм</option>
                                                                                                                                                                                                                                                                                <option value="120 х 120 х 26 мм"
                                                                                >120 х 120 х 26 мм</option>
                                                                                                                                                                                                                                                                                <option value="120 х 122 х 25 мм"
                                                                                >120 х 122 х 25 мм</option>
                                                                                                                                                                                                                                                                                <option value="135 х 135 х 25 мм"
                                                                                >135 х 135 х 25 мм</option>
                                                                                                                                                                                                                                                                                <option value="140 х 140 х 25 мм"
                                                                                >140 х 140 х 25 мм</option>
                                                                                                                                                                                                                                                                                <option value="140 х 140 х 26 мм"
                                                                                >140 х 140 х 26 мм</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <option value="92 х 92 х 25 мм"
                                                                                >92 х 92 х 25 мм</option>
                                                                                                                                                                                                </select>
                                                        </div>
                                                        <input type="hidden"
                                                               name="characteristics[149]"
                                                               id="characteristics-4-hidden-input">
                                                                                                                                                                                                        </div>
                                                                            </div>
                                </div>
                                <input type="hidden" id="order">
                                <input type="hidden" id="counting">
                                <button id="filter-clear" class="btn btn-default btn-filter">Сбросить фильтр</button>
                                <input type="submit" value="Применить фильтр" id="catalog-filter-submit" class="btn btn-default btn-filter"/>
                            </form>
                        </div>
                    </div>
                </div>
            <div class="col-lg-45 col-md-45 col-sm-40 col-xs-60 col-content" id="content">
                <div class="row">
                    <div class="col-lg-60 col-breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <ol class="breadcrumb mt-1">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Кулера</li>
                        </ol>
                    </div>
                    <div class="col-lg-60 col-xs-60">
                        <h1 class="nomargin">Кулера</h1>
                    </div>
                    <div class="col-lg-60 col-xs-60">
                        <img class="img-responsive" src="https://upg.uz/storage/files/categories/22/thumbs/WCWsCyP6pJJ1vJYOIgX71t5iTfRO0ELX5wnDzd9b.png" alt="Манипуляторы и аксессуары" />
                    </div>
                    <div class="col-lg-60 col-xs-60">
                        <div class="col-center-filter">
                            <div class="row">
                                <form id="category-order-form">
                                    <div class="col-lg-25 col-md-23 col-sm-60 col-xs-60 col-center-filter-item">
                                        <label for="order">Сортировка</label>
                                        <select onchange="categoryFormSubmit()" data-width="auto" name="order"
                                                id="category-order">
                                            <option value="" selected>
                                                По
                                                умолчанию
                                            </option>
                                            <option value="ASC">
                                                Наименование (А -&gt; Я)
                                            </option>
                                            <option value="DESC">
                                                Наименование (Я -&gt; А)
                                            </option>
                                            <option value="ASC_price">
                                                Цена (по возрастанию)
                                            </option>
                                            <option value="DESC_price">
                                                Цена (по убыванию)
                                            </option>
                                            <option value="DESC_rating">
                                                Рейтинг (по убыванию)
                                            </option>
                                            <option value="ASC_rating">
                                                Рейтинг (по возрастанию)
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-18 col-md-18 col-sm-60 col-xs-60 col-center-filter-item">
                                        <div class="category-products-count-filter">
                                            <label>Товаров на странице</label>
                                            <select onchange="categoryFormSubmit()" name="counting"
                                                    data-width="auto" id="category-counting">
                                                <option value="20">
                                                    20
                                                </option>
                                                <option value="30">
                                                    30
                                                </option>
                                                <option value="40" selected>
                                                    40
                                                </option>
                                                <option value="50">
                                                    50
                                                </option>
                                                <option value="60">
                                                    60
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row-viewed col-catalog-grid product-grid">
                            @foreach (var i in Model)
                            {
                                <div class="col-lg-12 col-md-15 col-sm-20 col-xs-30 item-product">
                                    <div class="item-product-inner">
                                        <a asp-action="Sborka" asp-controller="Product" asp-route-id="@i.ID" class="item-link">

                                            <img class="item-product-img center-block"
                                                 src="@($"https://localhost:7010/{i.ImageUrls.FirstOrDefault()}")"
                                                 alt="@($"https://localhost:7010/{i.ImageUrls.FirstOrDefault()}")">

                                            @i.Name

                                        </a>
                                        <div class="product-mini-rating">
                                            <div class="mp-small_rate" mp-prod_id="">
                                                <div class="mp-rating-value-wrap">
                                                    <div class="mp-rating-value">
                                                        <div style="width:100%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <span class="item-price price-old">@i.Price сум</span>

                                        <span class="item-price price-new">@i.Price сум</span>

                                        <div class="item-buttons center-block">
                                            <a class="item-buy-btn cart" role="button" onclick="addToCart('1');"
                                               id="cartActive1" data-id="c1" data-productname="@i.Name"
                                               data-productslug="hyperx-pulsefire-haste">Купить</a>
                                            <a class="item-compare-btn libra" role="button"
                                               onclick="addToCompare(1, 1, '@i.Name.ToLower();', '@i.Name')"
                                               data-id="l1"></a>
                                        </div>
                                    </div>
                                    <script>
                                        localStorage.getItem('compare_product').split(',').forEach(el => {
                                            if (el === "1") {
                                                $(`[data-id="l${el}"]`).addClass('selected_libra');
                                            }
                                        })
                                        if (JSON.parse(localStorage.getItem('product_id')) != null) {
                                            JSON.parse(localStorage.getItem('product_id')).forEach(el => {
                                                if (el.product_id === "1") {
                                                    $(`[data-id="c${el.product_id}"]`).addClass('selected_cart');
                                                }
                                            })
                                        }

                                    </script>
                                </div>
                                <script>
                                    function showModal(productId, productSlug, productName) {
                                        $(`[data-id="l${productId}"]`).addClass('active');
                                        const elements = localStorage.getItem('compare_product');
                                        const categoryElements = JSON.parse(elements);
                                        const elementKeys = Object.keys(categoryElements);
                                        const parameter = `?categories=${elementKeys}&data=${categoryElements[elementKeys[0]]}`;
                                        $('#modalNew').show();
                                        $('#informModalCartCompare').html(`<div>Товар <a href="/products/${productId}">${productName}</a> добавлен в <a id="compareBtn" href="https://upg.uz/en/compare${parameter}#">список сравнения товаров</a>!</div>`);
                                    }

                                    function getProductLength() {
                                        let elements = localStorage.getItem('compare_product');
                                        let categoryElements = JSON.parse(elements);
                                        let compareProducts = 0;
                                        if (elements) {
                                            const elementKeys = Object.keys(categoryElements);
                                            for (const elementKey in elementKeys) {
                                                const element = categoryElements[elementKeys[elementKey]].split(',');
                                                element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                                compareProducts += element.length;
                                            }
                                        }

                                        return compareProducts;
                                    }

                                    function addToCompare(productId, categoryId, productSlug, productName) {
                                        const compareProducts = localStorage.getItem('compare_product');
                                        if (compareProducts) {
                                            let compare_products = '';
                                            let exist = false;
                                            let cart_product_check = [];
                                            let productIds = JSON.parse(localStorage.getItem('compare_product'));

                                            if (productIds[categoryId]) {
                                                console.log('category exists');
                                                console.log(productIds[categoryId]);
                                                cart_product_check = productIds[categoryId].split(',');

                                                for (let i = 0; i <= cart_product_check.length; i++) {
                                                    if (parseInt(cart_product_check[i]) === productId) {
                                                        console.log('exists')
                                                        exist = true;
                                                    }
                                                }
                                            }

                                            if (!exist) {
                                                console.log('workng not exist')
                                                if (cart_product_check.length < 1) {
                                                    productIds[categoryId] = `${productId},`;
                                                    localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                    let containerCounter = $('#top-compare-total');
                                                    containerCounter.text(getProductLength());
                                                    showModal(productId, productSlug, productName);
                                                    $(`#l${productId}`).addClass('active');

                                                } else if (cart_product_check.length <= 3 && cart_product_check.length >= 1) {
                                                    $.ajax({
                                                        url: '/check-compare/' + productId + '/' + cart_product_check[0],
                                                        method: 'GET',
                                                        success: function (data) {
                                                            if (data.message === 'success') {
                                                                compare_products = productIds[categoryId];
                                                                compare_products += `${productId},`;
                                                                productIds[categoryId] = compare_products;
                                                                localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                                let containerCounter = $('#top-compare-total');
                                                                containerCounter.text(getProductLength());
                                                                showModal(productId, productSlug, productName);
                                                            } else {
                                                                alert('For comparing products categories must be the same')
                                                                $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                                            }
                                                        }, error: function (data) {
                                                            // console.log(data);
                                                        }
                                                    });
                                                } else {
                                                    alert('You can compare only 3 products')
                                                    $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                                }

                                            } else {
                                                showModal(productId, productSlug, productName);
                                            }
                                        } else {
                                            localStorage.setItem('compare_product', JSON.stringify({ [categoryId]: `${productId},` }));
                                            showModal(productId, productSlug, productName);
                                        }
                                        calculateCompareProductsCount();
                                    }

                                    function calculateCompareProductsCount() {
                                        let compareProducts = 0;
                                        const data = localStorage.getItem('compare_product');
                                        const categoryElements = JSON.parse(data);
                                        elementKeys = Object.keys(categoryElements);
                                        for (const elementKey in elementKeys) {
                                            const element = categoryElements[elementKeys[elementKey]].split(',');
                                            element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                            compareProducts += element.length;
                                        }
                                        $('#top-compare-total').html(compareProducts);
                                    }
                                </script>
                            }

                        </div>
                        @await Html.PartialAsync("_navbrend")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
